/* FONDO GENERAL */
body {
  background-color: #f8f9fa;
}

/* ESPACIADO ENTRE CARDS */
.row {
  row-gap: 20px;
}

/* CARDS MÁS BONITAS */
.card {
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all 0.3s ease;
}

/* EFECTO HOVER */
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}


.card img {
  height: 200px;
  object-fit: cover;
}


.card-body {
  text-align: center;
}

.card-body p:last-child {
  font-weight: bold;
  font-size: 18px;
}

.btn {
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}